.Caja_publicacion {
  align-items: center;
  width: 90%;
  border: 2px solid #000;
  padding: 20px;
  margin-top: 5%;
  background-color: #333;
  transition: background-color 2s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  justify-content: space-around;
  align-items: flex-end;
  
}
  
  /* .Caja_publicacion:hover {
    background-color: #4b4b4b;
    transform: scale(1.05);
  } */
  
  .Caja_publicacion img, .Caja_publicacion video {
    float: left;
    margin-right: 20px;
  }
  
  .Caja_publicacion p {
    color: #fff;
  }
  /* .Caja_publicacion div{
    width: 40%;
  } */
  
  .Caja_descripcion {
    width: 90% !important;
    clear: both;
    margin-top: 20px;
    border: 2px solid #fff;
    width: 90%;
    padding: 10px;
    text-align: left;
    margin-left: 3%;
  }
  .Caja_descripcion p {
    margin: 2%;
  }



textarea {
  width: 30%;
  height: 100px;
  margin-right: 2%;
}

.img_post{
  margin-left: 35%;
  width: 30%;
}
.vid_post{
  height: 270px;
  width: 37%;

}

form {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  margin-top: 8%;
  padding: 20px;
  background-color: #252525;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

textarea,
input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #303030;
  color: #f0f0f0;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: none;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px #5588ff;
}

.boton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d7d7d7;
  color: #606060;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.boton:hover {
  background-color: #a1baeb;
}

.boton:active {
  background-color: #45d83d;
}