.Caja_publicacion {
    align-items: center;
    width: 90%;
    border: 2px solid #000;
    padding: 20px;
    margin-top: 5%;
    background-color: #333;
    transition: background-color 2s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 5%;
    align-items: flex-start
  }
  
  .Caja_publicacion:hover {
    background-color: #4b4b4b;
    transform: scale(1.05);
  }
  
  .Caja_publicacion img, .Caja_publicacion video {
    float: left;
    margin-right: 20px;
  }
  
  .Caja_publicacion p {
    color: #fff;
  }
  
  .Caja_descripcion {
    clear: both;
    margin-top: 20px;
    border: 2px solid #fff;
    width: 90%;
    padding: 10px;
    text-align: left;
  }
  .Caja_descripcion p {
    margin: 2%;
  }
form {
  color: white;
}

form {
  margin-top: 15%;
}

textarea {
  width: 30%;
  height: 100px;
  margin-right: 2%;
}

img{
  width: 25%;
}